#master-anime-flex{
  display: flex;
  flex-direction: row;
  width: 80%;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%,-50%);
  position: absolute;
  justify-content: center;
}
body,html{margin: 0;padding:0; }
section{
  background: #6f6fe7;
  height: 100vh;
  width: 100vw;
}
@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

.text-stroke{
  font-size: 60px;
  fill: none;
  stroke: wheat;
  stroke-dasharray: 691;
  stroke-linecap: butt;
  stroke-dashoffset: -900;
  animation: dash 10s infinite ease-in-out;
}
